body{
	background-color: #000000;
	overflow: hidden;
}
* {
	box-sizing: border-box;
}
#interface{
	background-color: #000000;
	height: 50.3vw;
	width: 100vw;
	margin: 0px;
	padding: 0px;
	float: left;
	transform: scale(1.0);
}
#right, #left, #center, #down{
	border-style: solid;
	border-width: 0.3vw;
	border-color: #808080;
}
#left, #right{
	height: 100%;
	width: 20%;
}
#center, #down{
	border-right: none;
	border-left: none;
}
#left{
	position: absolute;
	left: 0%;
	float:left;
}
#right{
	position: absolute;
	right: 0%;
	float:left;
}
#center{
	height: 70%;
	width: 60%;
	position: absolute;
	top: 0%;
	left: 20%;
	float:left;
}
#down{
	height: 30%;
	width: 60%;
	border-top: none;
	position: absolute;
	bottom: 0%;
	left: 20%;
	float:left;
}
img
{
	height:  100%;
	width: 100%;
}
.menu_button{
	position: relative;
	top: 10%;
	left: 12.5%;
	border-style: solid;
	border-width: 0.3vw;
	border-color: #808080;
	border-radius: 0.5vw;
	color: #FFFFFF;
	font-family: "Comic Sans MS";
	font-size: 1vw;
	height: 7%;
	width: 75%;
	margin-top: 3%;
	padding: 2%;
	float:left;
}
.menu_button:hover, .profile_button:hover{
	border-color: #FFFF00;
	color: #FFFF00;
}
.profile{
	position:relative;
	top: 5%;
	left: 8%;
}
.profile_button{
	position: relative;
	top: 0%;
	left: 0%;
	border-style: solid;
	border-width: 0.3vw;
	border-color: #808080;
	border-radius: 0.5vw;
	color: #FFFFFF;
	height: 12%;
	width: 30%;
	float:left;
	font-size: 0.8vw;
}
#bar{
	position: relative;
	top: 1.2%;
	left: 3.5%;
	color: #FFFFFF;
	height: 12%;
	width: 40%;
	float:left;
}
.resource{
	height: 100%;
	width: 45%;
}
#gold{
	height: 40%;
	width: 60%;
	position: relative;
	top: 0%;
	left: -2%;
}
#sos{
	height: 40%;
	width: 60%;
	position: absolute;
	top: 0%;
	left: 64%;
}
#exp{
	border-style: solid;
	border-width: 0.3vw;
	border-color: #808080;
	border-radius: 0.5vw;
	margin-top: 7%;
	height: 30%;
	width: 126%;
}
.res_text{
	color: #FFFFFF;
	font-family: "Comic Sans MS";
	font-size: 1vw;
	position: relative;
	left: 47%;
	top: -70%;
}